<script type="text/javascript">
<% if current_user %>
   window.currentUser =
   <%= render("api/sessions/session.json.jbuilder", user: current_user).html_safe %>
<% end  %>
</script>

<div id="root">React not working!</div>

<%# you changed this file from the partial to sessions/show cuz you deleted the partial %>
