.entireNotesIndexCol {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow: scroll;
}

.entireNotesIndexCol .notesColTop {
  border-bottom: 1px solid rgb(212, 210, 210);
  position: fixed;
  z-index: 0.5;
  background-color: white;
  width: 310px;
  padding: 20px 20px 13px 20px;
  color: gray;
}

.entireNotesIndexCol ul {
  margin-top: 103px;
}

.entireNotesIndexCol .notesColTop h1 {
  font-size: 25px;
  font-weight: 100;
}

.entireNotesIndexCol .notesColTop
.notesTopBarSecondRow {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.entireNotesIndexCol .noteItemBox {
  border-bottom: 1px solid rgb(212, 210, 210);
}
