.homeTotalLayout {
  display: flex;
  height: 100vh;
  font-family: 'Yantramanav', sans-serif;
  min-width: 800px;
}

.homeTotalLayout .homeSidebar {
  width: 75px;
}

.homeTotalLayout .entireNotesIndexCol {
  width: 350px;
}

.homeLeftSide {
  display: flex;
}

.outerhomeRightSide {
  display: flex;
  /*position: relative;*/
  /*width: calc(100% - 425px);*/
  min-width: 360px;
  width: 100%;
  border: 2px solid red;
}

.innerhomeRightSide {
  /*position: absolute;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid green;
}

.innerhomeRightSide .noteFormTopBarContainer {
  position: relative;
  width: 100%;
  height: 50px;
}

.innerhomeRightSide .noteFormTopBarContainer > * {
  position: absolute;
}

.quillContainer {
  /*position: relative;*/
  /*position: absolute;*/
  display: flex;
  flex-direction: column;
  max-width: 960px;
  min-width: 300px;
  height: 100%;

  border: 2px solid red;
}

#root > div > div > div.outerhomeRightSide > div > div.quillContainer > div.quill > div.ql-container.ql-snow > div.ql-editor {
  margin-top: 60px;
  border: 1px solid blue;
  height: 70vh;
}

#root > div > div > div.outerhomeRightSide > div > div.quillContainer > div.quill > div.ql-toolbar.ql-snow {
  min-width: 570px;
  border-top: none;
  border-left: none;
  border-right: none;

  /*margin-top: -10px;*/
  /*border: 3px solid orange;*/
}

#root > div > div > div.outerhomeRightSide > div > div.quillContainer > input[type="text"] {
  width: 100%;
  outline: none;
  border: none;
  color: #2DBE60;
  font-size: 30px;
  font-weight: 200;
  padding: 0px 15px 0px 0px;
  overflow: hidden;
  position: absolute;
  top: 152px;
}

.quillContainer .ql-container.ql-snow {
  height: 70vh;
}
