.wholeNoteItem {
  position: relative;
  width: 100%;
  height: 100%;
}

.noteItemButtons {
  display: none;
  margin-right: 5px;
}

.wholeNoteItem:hover .noteItemButtons {
  display: inherit;
  position: absolute;
  right: 0;
  top: 0;
}

.noteItemButtons > * {
  outline: none;
  border-style: none;
  font-size: 20px;
  padding: 8px;
  background-color: #2DBE60;
}

.noteItemButtons button .fa {
  cursor: pointer;
}

.noteItemBox {
  padding: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.noteItemBox > * {
  padding-left: 8px;
}

.noteItemTitle {
  font-size: 18px;
}

.timePassed {
  font-size: 13px;
  padding-bottom: 5px;
}

.bodySnippet {
  font-size: 15px;
}

.timePassed, .bodySnippet {
  color: gray;
}

.wholeNoteItem:hover div,
.wholeNoteItem:hover button,
.wholeNoteItem:hover {
  color: white;
  background-color: #2DBE60;
}

.wholeNoteItem .fa:hover {
  display: inherit;
  transform: scale(1.5);
  color: #E6E6E6;
}

/*only show these buttons when features are developed*/
.wholeNoteItem .fa-clock-o,
.wholeNoteItem .fa-comments {
  display: none;
}
