.homeTotalLayout {

  display: flex;
  height: 100vh;
  font-family: 'Yantramanav', sans-serif;
  min-width: 800px;
  /*border: 2px solid red;*/
}

/*#root {
  border: 5px solid orange;
}*/

.homeTotalLayout .homeSidebar {
  width: 75px;
}

.homeTotalLayout .entireNotesIndexCol {
  width: 350px;
}

.homeLeftSide {
  display: flex;
}

.outerhomeRightSide {
  /*display: flex;*/
  /*justify-content: center;*/
  width: calc(100% - 425px);
  min-width: 360px;
  border: 4px solid orange;
}

.outerhomeRightSide > * {
  border: 1px solid red;
}

/*.innerhomeRightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
}*/

/*.homeRightSide .entireNotebookScrollMenu {
  margin-top: 50px;
}*/
