.entireNotesIndexCol {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

/*this piece of CSS is to target modals upon their appearance*/
body > div:nth-child(4) > div,
body > div:nth-child(3) > div {
  z-index: 3;
}

/*ReactModalPortal doesn't work*/
/*}*/

.entireNotesIndexCol .notesColTop {
  border-bottom: 1px solid rgb(212, 210, 210);
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 310px;
  padding: 20px 20px 13px 20px;
  color: gray;
}

.entireNotesIndexCol ul {
  position: relative;
  /*z-index: -1;*/
  list-style: none;
  margin-top: 100px;
}

.entireNotesIndexCol .notesColTop h1 {
  font-size: 25px;
  font-weight: 100;
}

.entireNotesIndexCol .notesColTop
.notesTopBarSecondRow {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.entireNotesIndexCol .noteItemBox {
  border-bottom: 1px solid rgb(212, 210, 210);
}
