.userDashboardModal {
  position: absolute;
  bottom: 20px;
  left: 60px;
  background-color: white;
  height: 350px;
  width: 390px;
  font-family: 'Yantramanav', sans-serif;
  text-align: center;
  font-size: 20px;
  outline: none;
  border: 1px solid #2DBE60;
  -webkit-animation: fadein 1s;
}

@-webkit-keyframes fadein {
  from { opacity: 0 }
  to { opacity: 1 }
};

/*

#modaltofade {
  -webkit-animation: fadeout 2s;
  opacity: 0.5;
}

@-webkit-keyframes fadeout {
  from { opacity: 1 }
  to { opacity: 0 }
};*/

/*
.ReactModalPortal div {
  -webkit-animation: fadeout 2s;
  background-color: yellow;
}

*/

/*ReactModal__Overlay ReactModal__Overlay--after-open" style="position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; background-color: transparent;"><div class="ReactModal__Content ReactModal__Content--after-open userDashboardModal" tabindex="-1" aria-label="userDashboard"><div><h1><!-- react-text: 5 -->Welcome <!-- /react-text --><!-- react-text: 6 -->guest@example.com<!-- /react-text --><!-- react-text: 7 -->!<!-- /react-text --></h1><button>Sign Out</button></div></div></div></div>*/

/*another way to have things slide in*/

/*@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}*/

/*experiments trying to get modal to transition"*/

/*transition: all 1s ease 2s;*/
/*-webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;*/
/*transition-property: background-color, color;
transition-duration: 1s;
transition-timing-function: ease-out;*/
