.quillContainer .entireTagBar {
  /*border: 1px solid red;*/
  width: 100%;
  display: flex;
}

.quillContainer .entireTagBar .existingTagsList {
  list-style: none;
  display: flex;
}

.quillContainer .entireTagBar .existingTagsList li {
  margin-left: 3px;
  border: 1px solid lightgray;
  padding: 0px 5px 0px 5px;
  font-size: 14px;
  line-height: 22px;
  border-radius: 5px;
  background-color: #F8F8F8;
  display: flex;
}

.quillContainer .entireTagBar .existingTagsList li button {
  margin-left: 3px;
  background-color: transparent;
  /*border: 1px solid red;*/
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transform: scaleY(0.7);
}

.quillContainer .entireTagBar i {
  color: gray;
  position: relative;
  top: 4px;
}

.quillContainer .entireTagBar > * {
  margin-right: 6px;
}

.quillContainer .entireTagBar input {
  outline: none;
  border: none;
  width: 100%;
  font-size: 13px;
  position: relative;
  right: 3px;
  cursor: pointer;
}

.quillContainer .entireTagBar input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    rgba(0, 0, 0, 0.5);
}
.quillContainer .entireTagBar input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    rgba(0, 0, 0, 0.5);
   opacity:  1;
}
.quillContainer .entireTagBar input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    rgba(0, 0, 0, 0.5);
   opacity:  1;
}
.quillContainer .entireTagBar input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    rgba(0, 0, 0, 0.5);
}
.quillContainer .entireTagBar input::-ms-input-placeholder { /* Microsoft Edge */
   color:    rgba(0, 0, 0, 0.5);
}

.quillContainer .entireTagBar:hover:after {
  position: absolute;
  color: white;
  background-color: darkgray;
  margin-top: -30px;
  padding: 5px;
  font-family: 'Yantramanav', sans-serif;
  font-size: 12px;
  width: 30px;
  text-align: center;
  z-index: 100;
  content: "TAGS";
  -webkit-animation: fadein 1s;
}
