/*fragile z-indexing to keep index in the background*/
body > div:nth-child(5) > div {
  z-index: 3;
}

.tagsIndexCol {
  font-family: 'Yantramanav', sans-serif;
  position: absolute;
  left: 0;
  width: 525px;
  height: 100vh;
  background: white;
  z-index: 5;
  -webkit-animation: slide2 0.7s;
  border-right: 1px solid rgb(212, 210, 210);
}

.tagsIndexCol > * {
  padding-left: 70px;
}

.tagsIndexColTopBar {
  position: absolute;
  width: 452px;
  z-index: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(212, 210, 210);
}

.tagsIndexColTopBarTopRow {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 20px 30px;
}

.tagsIndexColTopBarTopRow text {
  font-size: 30px;
  font-weight: 100;
  margin-top: 10px;
  color: gray;
}

.tagsIndexColTopBarTopRow button {
  outline: none;
  border: none;
  background-color: transparent;
  margin-right: 20px;
  color: gray;
}

.tagsIndexColTopBarTopRow button:hover {
  background-color: white;
  cursor: pointer;
}

.tagsIndexColTopBarTopRow button:hover:after {
  position: absolute;
  margin-left: -70px;
  margin-top: 22px;
  content: "Create a tag";
  background-color: darkgray;
  color: white;
  padding: 5px;
  -webkit-animation: fadein 1s;
  width: 70px;
  font-size: 14px;
}

.tagsIndexColTopBar .tagsSearchField {
  margin-left: 30px;
  margin-bottom: 5px;
  visibility: hidden;
}

.tagsIndexColTopBar .tagsSearchField input {
  outline: none;
  padding: 0;
  font-size: 15px;
  height: 38px;
  width: 395px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  text-align: center;
  font-weight: 100;
}

.tagsListContainer {
  height: calc(100% - 150px);
  overflow: auto;
  margin: 133px 0px 0px 40px;
  width: auto;
}

.tagsList > ul {
  list-style: none;
}

.tagsList .tagsIndexAlphabetBlock {
  margin-top: 20px;
}

.tagsList .tagsIndexLetterHeader {
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 5px;
}

.tagsList .tagItem {
  display: flex;
  justify-content: flex-start;
}

.tagItemInput::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    black;
}
.tagItemInput:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    black;
   opacity:  1;
}
.tagItemInput::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    black;
   opacity:  1;
}
.tagItemInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    black;
}
.tagItemInput::-ms-input-placeholder { /* Microsoft Edge */
   color:    black;
}

.tagsList .tagItem .tagItemInput {
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  border-style: none;
  outline: none;
  position: relative;
  top: -1px;
}

.tagItem .tagItemInputAndCount {
  display: flex;
  border-radius: 5px;
  background-color: #F8F8F8;
  border: 1px solid lightgray;
  color: #2DBE60;
  padding: 1px 10px 1px 10px;
  margin: 0px 0px 10px 0px;
  cursor: pointer;
}

.tagItem .tagItemInputAndCount:hover input {
  background-color: #2DBE60;
  border: none;
  color: white;
}

.tagItem .tagItemInputAndCount:hover {
  background-color: #2DBE60;
  border: none;
  color: white;
  font-weight: 100;
}

.tagItemInputAndCount:hover .tagItemInput::-webkit-input-placeholder {
  color: white;
  font-weight: 100;
}

.tagItemInput:focus::-webkit-input-placeholder {
  color: transparent;
}

.tagsList .tagItem .tagItemButtons {
  display: none;
}

.tagItem:hover .tagItemButtons {
  display: inherit;
  position: relative;
  top: 5px;
  color: gray;
  -webkit-animation: fadein 0.5s;
}

.tagItem .tagItemButtons > *:hover {
  color: #2DBE60;
}

.tagsList .tagItem .tagItemButtons > * {
  margin-left: 8px;
  cursor: pointer;
}

/*hide the star button until that functionality
becomes available*/
.tagItem .tagItemButtons > *:last-child {
  display: none;
}

/*the below transition is fine for one input, but not many*/
/*.tagItemInput {
    width: 100px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}

.tagItemInput:focus {
  width: 300px;
}*/


@keyframes fadein {
  from { opacity: 0 }
  to { opacity: 1 }
};

@-webkit-keyframes slide2 {
  from { left: -525px }
  to { left: 0px }
};
