/*this piece of CSS is to target notebook index modal's z-index upon appearance*/
body > div:nth-child(4) > div {
  z-index: 3;
}

.notebookIndexCol {
  font-family: 'Yantramanav', sans-serif;
  position: absolute;
  left: 0;
  width: 525px;
  height: 100vh;
  background: white;
  z-index: 11;
  -webkit-animation: slide2 0.7s;
  border-right: 1px solid rgb(212, 210, 210);
}

.notebookIndexCol > * {
  padding-left: 70px;
}

.topNotebookColBar {
  position: absolute;
  width: 452px;
  z-index: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(212, 210, 210);
}

.notebooksTopRow {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 20px 30px;
}

.notebooksTopRow text {
  font-size: 30px;
  font-weight: 100;
  margin-top: 10px;
}

.notebooksTopRow button {
  outline: none;
  border: none;
  background-color: transparent;
  margin-right: 15px;
  /*transition: width 2s, height 2s, background-color 2s, transform 2s;*/
}

.notebooksTopRow button:hover {
  background-color: white;
  /*content: "Create a notebook";*/
  cursor: pointer;
  /*transition: content 4s;*/
}

.notebooksTopRow button:hover:after {
  position: absolute;
  margin-left: -70px;
  margin-top: 22px;
  content: "Create a notebook";
  background-color: darkgray;
  color: white;
  padding: 5px;
  -webkit-animation: fadein 1s;
  width: 110px;
  font-size: 14px;
}

@keyframes fadein {
  from { opacity: 0 }
  to { opacity: 1 }
};

.notebooksTopRow button > * {
  font-size: 20px;
  margin-left: -4px;
}

/*make the searchField hidden until it's opearational*/
.searchField {
  margin-left: 30px;
  margin-bottom: 5px;
  visibility: hidden;
}

.searchField input {
  outline: none;
  padding: 0;
  font-size: 15px;
  height: 38px;
  width: 395px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  text-align: center;
  font-weight: 100;
}

.noteBookListContainer {
  height: calc(100% - 135px);
  margin-top: 135px;
  overflow: auto;
}

.noteBookList {
  list-style: none;
}

.noteBookList > * {
  border-bottom: 1px solid rgb(212, 210, 210);
  padding: 0px 0px 10px 0px;
  padding-top: 12px;
  padding-right: 25px;
}

.notebookTitle {
  font-size: 20px;
}

.notesCount {
  font-size: 13px;
}

.notebook {
  position: relative;
}

.notebook > * {
  margin: 3px;
  margin-left: 20px;
}

.notebook:hover {
  background-color: #2DBE60;
  color: white;
  cursor: pointer;
}

.notebook .notebookButtons {
  display: none;
  margin-right: 5px;
}

.notebook:hover .notebookButtons {
  display: inherit;
  position: absolute;
  right: 10px;
  top: 12px;
}

.notebookButtons > * {
  outline: none;
  border-style: none;
  font-size: 20px;
  padding: 8px;
  background-color: #2DBE60;
}

.notebookButtons button .fa {
  cursor: pointer;
}

.notebook:hover div,
.notebook:hover button,
.notebook:hover {
  color: white;
  background-color: #2DBE60;
}

.notebook .fa:hover {
  display: inherit;
  transform: scale(1.5);
  color: #E6E6E6;
}

/*only show these buttons when features are developed*/
.notebook .fa-comments,
.notebook .fa-star {
  display: none;
}

@-webkit-keyframes slide2 {
  from { left: -525px }
  to { left: 0px }
};

/*.ReactModal__Overlay--after-open:not(.notebookIndexCol) {
  -webkit-animation: fadeoverlay 0.7s;
}*/

/*@-webkit-keyframes fadeoverlay {
  from { opacity: 0 }
  to { opacity: 1 }
};*/

/*.notebookIndexCol {
  -webkit-animation: slide3 0.7s;
}

@-webkit-keyframes slide3 {
  from { left: 0px; }
  to { left: -525px; }
};*/
