/*remove this after done tesing with scrollbar*/
/*.ql-snow, .entireNotebookScrollMenu {
  display: none;
}*/

.entireNotebookScrollMenu input {
  display: none;
}

#newNoteDropdownSelectNotebook {
  outline: none;
  font-family: 'Yantramanav', sans-serif;
  background-color: transparent;
  border: 1px solid gray;
  font-size: 15px;
  width: 30%;
  margin: 0px 0px 0px 10px;
}

#homePageNotebookScrollbar {
  outline: none;
  font-family: 'Yantramanav', sans-serif;
  background-color: transparent;
  border: 1px solid gray;
  font-size: 15px;
  width: 30%;
}
