.quill {
  height: 85vh;
  max-width: 950px;
  min-width: 290px;
  margin-top: 40px;
  border: 1px solid red;
}

.ql-editor {
  border: 1px solid blue;
}

/*.homeRightSide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;*/
  /*position: absolute;
  right: 0;*/

  /*align-items: flex-start;*/
/*}*/

/*div.quillOuterContainer > div > div > div.ql-toolbar.ql-snow {*/
  /*min-width: 1492px;*/
/*}*/

/*.entire*/

/*.ql-blank {
  border-color: transparent;
  border: 1px solid red;
}*/

/*.testquillclassUsertest {
  background: yellow;
}

#QUILLTEST {
  border: none;
}*/


/*.homeTotalLayout .quill {*/
  /*display: none;*/
  /*width: calc(100% - 73px - 350px);
  margin: 0;
  border: 1px solid orange;
}*/


/*.ql-editor {
  border: transparent;
}*/

/*#root > div > div > div.noteTopbarANDnoteForm > div.quill > div.ql-toolbar.ql-snow*/
/*<div class="ql-editor ql-blank" contenteditable="true"><p><br></p></div>*/
