/*.quill {
  height: 80vh;
  max-width: 950px;
  min-width: 290px;
  display: flex;

  border: 2px solid blue;
}*/

/*.ql-editor {
  align-self: flex-start;
  margin-top: 80px;
  border: 2px solid blue;
  height: calc(100%-300px)
}*/

/*

#root > div > div > div.outerhomeRightSide > div > div.quillContainer > div > div.ql-toolbar.ql-snow {
  position: absolute;
  left: 0;
  border: none;
  border-bottom: 1px solid lightgray;
  width: 935px;
  z-index: 10;
  border: 2px solid blue;
}
*/


/*.quillContainer {
  position: relative;
  width: 100%;
  z-index: 0;
  border: 1px solid red;
}

#root > div > div > div.outerhomeRightSide > div > div.quillContainer > input[type="text"] {
  width: 100%;
  outline: none;
  border: none;
  color: #2DBE60;
  font-size: 30px;
  font-weight: 200;
  padding: 0px 15px 0px 15px;
  overflow: hidden;
  position: absolute;
  top: 115px;
  width: 100%;
  border: 1px solid red;
}*/


/*.homeRightSide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  right: 0;

  align-items: flex-start;
}*/

/*div.quillOuterContainer > div > div > div.ql-toolbar.ql-snow {
  min-width: 1492px;
}*/

/*.ql-blank {
  border-color: transparent;
  border: 1px solid red;
}*/

/*.testquillclassUsertest {
  background: yellow;
}

#QUILLTEST {
  border: none;
}*/


/*.homeTotalLayout .quill {
  display: none;
  width: calc(100% - 73px - 350px);
  margin: 0;
  border: 1px solid orange;
}*/


/*.ql-editor {
  border: transparent;
}*/

/*#root > div > div > div.noteTopbarANDnoteForm > div.quill > div.ql-toolbar.ql-snow*/
/*<div class="ql-editor ql-blank" contenteditable="true"><p><br></p></div>*/
