/*hide this until feature is implemented*/
.wholeNoteItem .fa-star {
  display: none;
}

.wholeNoteItem {
  position: relative;
  width: 100%;
  height: 120px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.noteItemButtons {
  display: none;
  margin-right: 5px;

}

.wholeNoteItem:hover .noteItemButtons {
  display: inherit;
  position: absolute;
  right: 0;
  top: 0;
}

.noteItemButtons > * {
  outline: none;
  border-style: none;
  font-size: 20px;
  padding: 8px;
  background-color: #2DBE60;
  cursor: pointer;
}

.noteItemButtons button .fa {
  cursor: pointer;
}

.noteItemBox {
  height: 98px;
}

.noteItemTitle {
  font-size: 18px;
}

.timePassed {
  font-size: 13px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.bodySnippet {
  font-size: 13px;
  width: 310px;
}

.timePassed, .bodySnippet {
  color: gray;
}

.wholeNoteItem:hover div,
.wholeNoteItem:hover button,
.wholeNoteItem:hover {
  color: white;
  background-color: #2DBE60;
}

.wholeNoteItem .fa:hover {
  display: inherit;
  transform: scale(1.5);
  color: #E6E6E6;
}

/*only show these buttons when features are developed*/
.wholeNoteItem .fa-clock-o,
.wholeNoteItem .fa-comments {
  display: none;
}

.wholeNoteItem .fa-trash:hover:after  {
  font-family: 'Yantramanav', sans-serif;
  position: absolute;
  margin-left: -72px;
  background-color: darkgray;
  color: white;
  padding: 3px;
  -webkit-animation: fadein 1s;
  width: 3s0px;
  font-size: 10px;
  content: "Delete note";
}

@keyframes fadein {
  from { opacity: 0 }
  to { opacity: 1 }
};
